# .gitignore 0.0.0                     UTF-8                    dh:2021-02-14
#
#                                  ORCMID/docEng
#                                  =============
#
#              .GITIGNORE FOR KEEPING FILES OUT OF THE REPOSITORY
#
#   This .gitignore file is designed to eliminate working folder material
#   that should be excluded from check-in to the repository or any clone of
#   it.  These will normally be intermediate and derived materials that are
#   are not archived.  This is typically accomplished, where possible, by
#   excluding a directory whose contents are ephemeral, such as intermediates
#   in a document generation procedure.

## ELIMINATE AUTHORING ARTIFACTS
## -----------------------------

#   jEdit backup and working files
*~
*#



# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

# 0.0.0 2021-02-15T01:14Z Minimal version as a placeholder in case any other
#       need arises.

#                         *** end of .gitignore ***
